.box {
    width: 100px;
    height: 100px;
    background-color: red;
}

button {
    margin-top: 10px;
    color: white;
    background-color: black;
    border-radius: 4px;
    text-align: center;
    font-size: 25px;
}

.circle {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    background-color: darkorange;
    border-radius: 100%;
}

.fony {
    margin-top: 10px;
    width: 100px;
    height: 60px;
    background-color: aqua;
}
